{% extends "polls/base.html" %}

{% block content %}

  <h1>{{ question.question_text }}</h1>

  {% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}

  <form id='voteForm' action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <div class="btn-group" data-toggle="buttons">
      {% for choice in question.choice_set.all %}
        <label class="btn btn-primary">
          <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            {{ choice.choice_text }}
        </label>
      {% endfor %}
    </div>
    <button class="btn" id="voteSubmit" type="submit" value="vote">Vote</button>
  </form>
{% endblock content %}
