{% extends "polls/base.html" %}
{% load staticfiles %}

{% block content %}
  {% if latest_question_list %}
    <ul class="list-group">
      {% for question in latest_question_list %}
        <li class="list-group-item">
          <a class="poll-link" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
          <p class="poll-pub-date">{{ question.pub_date }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="alert alert-info" role="alert">No polls available at this time...</div>
  {% endif %}
{% endblock content %}
